.myinfo{
    width: 100%;

}

input[type="checkbox"] {
    cursor: pointer;
}
h3 {
    font-size: 1.47em;
    font-weight: 500;
    color: #0067b3;
}
.first_line{
    margin-top: 10px;
    width: 1300px;
    padding: 12px;
    display: flex;
    background: #f2f2f2;
    border-top: solid 2px #0067b3;
    font-weight: bold;
    color: #555;
}
.first_line input{
    width: 80px;
    text-align: center;
    background: white;
}
.first_line input[type="radio"] {
    width: 15px;
    cursor: pointer;
}
.first_line input[type="submit"] {
    cursor: pointer;
}
.contents table {
    margin-top: 10px;
    width: 1300px;
    border-collapse: collapse;
}
.contents table th {
    background: #f2f2f2;
    font-weight: bold;
    color: #555;
    padding: 0.7em 0;
    border: 1px solid #ccc;
}
.contents table tr, td {
    padding: 0.7em 0;
    border: 1px solid #ccc;
    text-align: center;
}


.contents input[type=text],select{ 
    flex-grow: 1;
    padding: 5px;
    border: #e6eef5 solid 2px;
    background-color: white;
    color: #263747;
    width : 70%;
    font-size: 15px;
}

#c_name {

	font-weight : bold ;
	font-size : 15px;
	cursor: pointer;
}

.fixed {
  
    margin: 50px;
    width: 180px;
    height: 220px;
    padding: 8px;
}

legend {
    color: red;
    font-weight: bold;
}
button {
    background: white;
    border: 2px solid;
    border-bottom-color: black;
    border-right-color: black;
    border-top-color: rgb(91, 91, 91);
	border-left-color: rgb(91, 91, 91);
    color: #555;
    font-weight: bolder;
    padding: 0px 10px 0px 10px;
    cursor : pointer;
}
button:hover{
	background: #f2f2f2;
}