.first_line{
    margin-top: 10px;
    width: 1300px;
    padding: 12px;
    display: block;
    background: #f2f2f2;
    border-top: solid 2px #0067b3;
    font-weight: bold;
    color: #555;
}
.first_line input{
    width: 80px;
    text-align: center;
    background: white;
}
/* .list_table{
    margin-top: 5px;
    width: 1200px;
} */
/* .list_table.lack{
	width: 70%;
}
.list_table table{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}

.list_table table tbody tr{
    background: white;
    
} */
.list_table_slist table tbody tr:nth-child(even){
    background: rgb(236, 236, 236);
}
#c_name {
	background : none;
	border : none;
	font-weight : bold ;
	font-size : 15px;
	cursor: pointer;
}

/* .mytable{
    margin-top: 5px;
} */

.mytable button{
	border: 1px solid #ccc;
	/* border-radius: 5px; */
	cursor: pointer;
	padding: 0px 10px;
}
.details_first_line{
	margin-top: 5px;
    padding: 10px;
    display: block;
}
.details_first_line input{
    width: 50px;
    text-align: center;
}

.selected_periodList{
	display:inline-block;
}