.container{
    display: flex;
}
.sidebar{
    width: 50%;
}
.myinfo{
    width: 100%;
}
.menubar{
    width: 100%;
}
.contents{
    padding: 20px;
}
.first_line{
    padding: 10px;
    display: block;
    background: rgb(194, 194, 255);
    width: 80%;
}
.first_line input{
    width: 80px;
}
.list_table{
    margin-top: 5px;
    width: 80%;
}
.list_table.lack{
	width: 70%;
}
.list_table table{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}
.list_table table thead{
    font-weight: bold;
    background: rgb(194, 194, 255);
}
.list_table table tbody tr{
    background: white;
    
}
.list_table table tbody tr:nth-child(even){
    background: rgb(236, 236, 236);
}
#c_name {
	background : none;
	border : none;
	font-weight : bold ;
	font-size : 15px;
	cursor: pointer;
}

.mytable{
    margin-top: 5px;
}
.mytable table{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}
.mytable table thead{
    font-weight: bold;
    background: rgb(194, 194, 255);
}

.mytable table tbody tr,td{
    border: 1px solid gray;
}
.details_first_line{
	margin-top: 5px;
    padding: 10px;
    display: block;
}
.details_first_line input{
    width: 50px;
    text-align: center;
}

.mytable button{
	margin:5px;
	border-radius: 5px;
	cursor: pointer;
}
.selected_periodList{
	display:inline-block;
}