@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/mainback.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment : fixed;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	background: transparent;
}
.logo{
	font-size: 2em;
	user-select: none;
	font-family: 'Passion One', sans-serif;
	font-weight: 400;
}
.logo a{
	text-decoration: none;
	color: white;
}
.navigation a{
	position: relative;
	font-size: 1.1em;
	color: white;
	text-decoration: none;
	font-weight: 400;
	margin-left: 40px;
	font-family: 'Quicksand', sans-serif;
}
.navigation a::after{
	content: '';
	left: 0;
	bottom: -6px;
	position: absolute;
	width: 100%;
	height: 3px;
	background: white;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;
}
.navigation a:hover::after{
	transform: scaleX(1);
	transform-origin: left;
}
.navigation .btnLogin-popup{
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid white;
	outline: none;
	border-radius: 15px;
	cursor: pointer;
	font-size: 1.1em;
	color: white;
	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
}
.navigation .btnLogin-popup:hover{
	background: white;
	color: #162938;
}

.wrapper{
	position: absolute;
	width: 430px;
	height: 500px;
	background-color:rgba(255, 255, 255, 0.7);
	border: 2px solid rgba(255,255,255,.5);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transform: scale(0);
	transition: transform .5s ease, height .5s ease;
}
.wrapper.active-popup{
	transform: scale(1);
}
.wrapper.active{
	height: 810px;
	top: 80px;
}
.wrapper .form-box{
	width: 80%;
	padding: 30px;
}
.wrapper .form-box.login{
	transition: transform .3s ease;
	transform: translateX(0);
}
.wrapper.active .form-box.login{
	transition: none;
	transform: translateX(-400px);
}
.wrapper .form-box.register{
	position: absolute;
	transition: none;
	transform: translateX(400px);
}
.wrapper.active .form-box.register{
	transition: transform .3s ease;
	transform: translateX(0);
}
.wrapper .icon-close{
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
}
.form-box h2{
	font-size: 3em;
	color: black;
	text-align: center;
	font-family: 'Kanit', sans-serif;
	font-weight: bold 700;
}
.input-box{
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid black;
	margin: 20px 0;
}
.input-box label{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	color: black;
	font-size: 1em;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}
.input-box label span{
	color: rgb(75, 75, 75);
}
.input-box input:focus~label,
.input-box input:valid~label,
.input-box select:focus~label,
.input-box select:valid~label{
	top:-5px;
}
.input-box input, select{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	color: black;
	font-size: 1em;
	font-weight: 600;
	padding: 0 35px 0 5px;
}
.input-box .icon{
	position: absolute;
	right: 8px;
	font-size: 1.4em;
	color: black;
	line-height: 57px;
}
.input-box .check-id{
	position: absolute;
	top: 15px;
	right: -35px; 
	background: transparent;
	border: none;
	outline: none;
	width: 20px;
	height: 20px;
}
.check-id .check-id-icon{
	color: red;	
	font-size: 25px;
	cursor: pointer;
	transition: .5s;
}
.input-box .check-id button{
	cursor: pointer;
}
.input-box .check-id button ion-icon{
	font-size: 20px;
	cursor: pointer;
}
.choose{
	font-size: 17px;
	text-align: center;
	margin-bottom: 10px;
}

.choose input[type=radio]{
    display: none;
}
.choose input[type=radio]+label{
    cursor: pointer;
    border: none;
    line-height: 24px;
    font-weight:bold;
	padding-bottom: 0px;
	color: black;
}
.choose input[type=radio]:checked+label{
    color: blue;
}

.remember-forgot{
	font-size: .9em;
	color: black;
	font-weight: 500;
	margin-top: 40px;
	display: flex;
	justify-content: center;
}
.remember-forgot button{
	background: transparent;
	border: none;
	cursor: pointer;
}
.remember-forgot button:hover{
	text-decoration: underline;
}
.remember-forgot a:hover{
	text-decoration: underline;
}

.btn{
	width: 100%;
	height: 45px;
	background: #162938;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: 500px;
}
.login-register{
	font-size: .9em;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}
.login-register a{
	color: #162938;
	text-decoration: none;
	font-weight: 600;
}
.login-register a:hover{
	text-decoration: underline;
}
.choosejoin{
	font-size: 17px;
	text-align: center;
	margin-bottom: 10px;
}

.choosejoin input[type=radio]{
    display: none;
}
.choosejoin input[type=radio]+label{
    cursor: pointer;
    border: none;
    line-height: 24px;
    font-weight:bold;
	padding-bottom: 0px;
	color: black;
}
.choosejoin input[type=radio]:checked+label{
    color: blue;
}
.info{
	z-index: 0;
	position: relative;
	top: 200px;
	width: 800px;
	height: 1550px;
	display: block;
	text-align: left;
	padding: 80px 40px;
	background: white;
	box-shadow: 0 0 30px rgba(255,255,255,.5);
	border: none;
	border-radius: 15px;
	color: black;
	line-height: 30px;
	font-family: 'Noto Sans KR', sans-serif;
	margin-bottom: 20px;
}
.info hr{
	color: gray;
}
.info-title{
	display: flex;
	align-items: center;
	justify-content: center;
}
.info span{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	align-items: center;
	margin-left: 10px;
	padding-bottom: 5px;
	
}
.info .appfnc{
	padding: 10px;
	color: #4F4F4F;
}
.info .info-btn{
	width: 600px;
	height: 50px;
	margin: 20px;
	display: flex;
	justify-content: space-between;
}
.info-btn button{
	width: 160px;
	background: white;
	border-radius: 15px;
	border: 2px solid #003297;
	cursor: pointer;
	transition: .2s;
}
.info-btn button:hover{
	background: #003297;
}
.info-btn button label{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: Medium 500;
	font-size: 20px;
	color: #003297;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .2s;
}
.info-btn button label:hover{
	color: white;
}
.info-btn button ion-icon{
	font-size: 25px;
}
.index-img {
	display: flex;
	justify-content: center;
}
.login_info{
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 100px;
	margin-top: 20px;
	margin-left: 30px;
}

.appfnc .info_li_title{
	display: flex;
	align-items: center;
}
.appfnc .info_li_title ion-icon{
	color: blue;
}
.appfnc .info_li_title h4{
	color: blue;
	margin-left: 5px;
	margin-bottom: 2px;
}
.admin_login{
	margin-top: 30px;
	margin-right: 30px;
}
.admin_login button{
	width: 120px;
	height: 50px;
	background: transparent;
	border: 2px solid #003297;
	border-radius: 15px;
	cursor: pointer;
	transition: .5s;
}
.admin_login label{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: Medium 500;
	color: #003297;
	font-size: 15px;
	cursor: pointer;
	transition: .5s;
}
.admin_login button:hover{
	background: #EDEDED;
	color: black;
}
.admin_login label:hover{
	background: #EDEDED;
	color: black;
}

.team{
	width: 100%;
	height: 500px;
	text-align: center;
}
.team h2{
	font-family: 'Paytone One', sans-serif;
	font-weight: Regular 400;
	font-size: 50px;

}
.personal-info{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}
.personal-info-detail{
	width: 25%;
	text-align: center;
	
}
.personal-info-detail span{
	position: relative;
	top: -30px;
	font-size: 15px;	
	font-weight: bold;
	color: #003297;
	margin-left: 0;
}
.team-info ion-icon{
	font-size: 20px;
}
.github{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.github a{
	text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-text-fill-color: none;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: black;
    box-shadow: 0 0 0px 1000px transparent;
    transition: background-color 5000s ease-in-out 0s;
}
button label{
	width: 100%;
	height: 100%;
	margin: 0;
}
.admin_login_wrapper{
	position: absolute;
	top: 475px;
	right: 80px;
	width: 200px;
	height: 200px;
	background: transparent;
	z-index: 50;
	text-align: center;
	padding-top: 20px;
	border-radius: 15px;
	border: 2px solid #4F4F4F;
	transform: scale(0);
	transition: .5s;
}
.admin_login_wrapper.active-popup{
	transform: scale(1);
}
.adminlogin_top{
	font-size: 25px;
	color: black;
	font-weight: bold;
	margin-bottom: -15px;
}
.admin_login_wrapper input{
	width: 100px;
}
.admin_login_wrapper button{
	margin-top: 20px;
	width: 80px;
	height: 30px;
	border: 2px solid #4F4F4F;
	border-radius: 5px;
	background: transparent;
	cursor: pointer;
	transition: .3s;
}
.admin_login_wrapper button:hover{
	color: white;
	background: #4F4F4F;
}
.admin_login_wrapper .admin-close{
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 20px;
	cursor: pointer;
}
.pass-info{
	font-size: 13px;
	margin-top: 5px;
}
.input-box .check-pwd-icon, .check-pwd-icon2{
	position: absolute;
	top: 15px;
	right: -35px; 
	background: transparent;
	border: none;
	outline: none;
	width: 20px;
	height: 20px;
	visibility: hidden;
	color: red;	
	font-size: 25px;
	cursor: pointer;
	transition: .5s;
}
.pass-check-info{
	font-size: 13px;
	margin-top: 5px;
}