h3 {
    font-size: 1.2em;
    font-weight: 500;
    color: #0067b3;
}
.table {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 30px;
    border: #d7e2eb solid 1px;
    border-radius: 5px;
    background-color: #fff;
    row-gap: 28px;
}

.table3 {
	padding: 10px;
}

td {
	padding: 7px 10px;
	border : none;
}

input[type=password] { 
    flex-grow: 1;
    padding: 7px 20px;
    border: #e6eef5 solid 2px;
    background-color: #fbfbfd;
    color: #263747;
}

input[type=button] { 
    display: flex;
	border: white solid 2px;
    background-color: #0067B3;
    color: #fff;
    height : 30px;
    font-weight : bold ;
    font-size : 15px;
    cursor: pointer;
    width: 50px;
    justify-content: center;
}
.newpasscheck{
	position: relative;
	top: -210px;
	left: 480px;
	font-size: 15px;
}
.passcheck{
	position: relative;
	top: -180px;
	left: 480px;
	font-size: 15px;
}
