    *{
        margin: 0;
        padding: 0;  
    }
/*     body{
        text-align: center;
    } */
    h1{
        font-family: 'Black Han Sans', sans-serif;
        font-weight: 100;
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    
    .pagination .act{
            font-weight: bold;
            color: #42444e;
            border-radius: 5px;
            border: 2px solid #42444e;
            padding: 5px 7px;
        }
    
    
    .pagination a {
            
            display: block;
            font-size: 15px;
            text-decoration: none;
            padding: 5px 7px;
            color: #42444e;
            display: inline-block;
        }
    
    .pagination a:hover {background-color: #ddd;}
    
/*     a:hover {
        text-decoration: underline;
    } */
    
    a{
        text-decoration: none; 
        color: inherit; 
    }
    
    
    
/*     .container {
        display: inline;
        flex-direction: column;
        align-items: center;
        margin-left: 100px;
        margin-top: 10px;
    } */
    
    
    
/*     .header{
        background-color: bisque;
        height: 10%;
    }
    iframe{
        border: 0;
        margin: 0;
        display: block;
    }
    .sidebar{
        display: inline;
        width: 10%;
        height: 100%;
        background-color: #DEDFEA;
    }
    .myinfo{
        display: block;
        width: 100%;
    }
    .menubar{
        display: block;     
        width: 100%;
        height: 100%;
    } */
    .wrapper{
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }
    .noticelist{
      border-collapse: separate;
      border-spacing: 0;
      }
    
    .noticelist th{
        padding: 6px 15px;
        background: #42444e;
         color: #fff;
          text-align: center;
    }
    
    
    .noticelist tbody tr:hover{
        background-color: aliceblue;
    }
    
    .noticelist tbody tr{
    
        height: 50px;
        padding: 6px 15px;
    
    }
    .new {
       color: orange;
       font-weight: 2000;
    }
    
    .nidx, .viewcnt, .writeday{
        color: gainsboro;
    }
    
    .btn{
        background-color: #42444e;
        border-radius: 5px;
        color: whitesmoke;
    }
    
    
    .writediv{
        width: 80px;
        height: 30px;
        background-color: #42444e;
        border-radius: 5px;
        margin-top: 20px;     
        align-items: right;
        text-align: center;
        font-weight: bold;
        padding-top: 7px;    
    }
    
    .writediv a{
        text-align: center;
        color: whitesmoke;
        text-decoration: none;
    }
    
    
    .contents{
        color: black;
        text-decoration: none;
    }
    
    .contents:hover{
        text-decoration: underline;
    }
    
    .sub{
        
        padding : 8px;
        font-size : 14px;
    }
    
    .searchsubject{
        font-size : 14px;
        height : 30px;
        border : 2px solid black;
    }
    
    .material-symbols-outlined{
        font-size: 30ox;
    }
    .seartbl td {
        text-align: center;
    }

