  span {
        font-size: 40px;
        font-weight: 700;
    }

    .openDate {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; /* 부모 요소에 대한 상대적 위치 설정 */
    }

    h1 {
        text-align: center;
    }

    ul{
        list-style-type: none;
        width: 80%;
        border: 3px solid whitesmoke ;

    }

    ul li{
        font-size: 1.0em;
        margin-bottom: 10px;
        text-align: center;

    }

    ul li:nth-child(even){
        background-color: aliceblue;
    }

    .fixed {
      
        margin: 50px;
        width: 700px;
        height: 150px;
        padding: 8px;
    }

    legend {
        color: red;
        font-weight: bold;
    }

    .container{
            display: flex;
    }
    .sidebar{
        width: 50%;
    }
    .myinfo{
            width: 100%;
    }
    .menubar{
     width: 100%;
    }
    .contents{
     padding: 10px;
    }